.footer-site {
  padding: 30px 100px;
  hr {
    border-color: #fff;
  }
  .footer-logo {
    max-width: 180px;
    height: 100px;
  }
  .footer-govt-logo {
    filter: invert(1);
  }
}

.footer-nav-links a {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
