.footer-site {
  @media only screen and (min-width: 992px) {
    padding: 30px 100px;
  }
  @media only screen and (max-width: 991px) and (min-width: 576px) {
    padding: 30px 50px;
  }
  @media only screen and (max-width: 575px) {
    padding: 30px 20px;
  }
  hr {
    border-color: #fff;
  }
  .footer-logo {
    max-width: 180px;
    height: 100px;
    width: 100%;
  }
  .footer-govt-logo {
    filter: invert(1);
  }
}

.footer-nav-links a {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
