// Main navigation (note: mobile first, responsive breakpoints for medium viewports and above are lower down)
.main-nav {
  //height: 100vh;
  .navbar {
    width: 100%;
    min-height: 0;
    border: 0;
    display: block;
    padding: 0;
    position: absolute;
    transform: translate3d(0%, -50%, 0);
    top: 50%;
    transition: background-color 400ms cubic-bezier(0.76, 0, 0.24, 1);
  }
  .nav-link {
    position: relative;
    z-index: 1001;
    @include transition();
    //padding: $navbar-padding-y $navbar-padding-x;
  }

  &.header-light {
    .revealBg {
      //background-color: rgb(0 0 0 / 63%);
      //background-color: #242424;
    }
    .navbar-nav {
      .nav-link {
        color: $white;
        &:hover {
          color: $brand-color;
        }
      }
      .dropdown-menu {
        background-color: $white; //#161719;
        .dropdown-item {
          color: #49494b;
          //background-image: linear-gradient(
          //    155.92deg
          //  , #ffa500 5.36%, #ff7b1e 85.08%);
          //-webkit-background-clip: text;
          //color: transparent;
          //background-color: #ff7b1e;
        }
      }
    }
  }

  &.header-dark {
    .revealBg {
      //background-color: rgb(255 255 255 / 63%);
    }
    .navbar-nav {
      .nav-link {
        color: $dark;
        &:hover {
          color: $brand-color;
        }
      }
      .dropdown-menu {
        background-color: $white;//$dark;
        .dropdown-item {
          color: $dark;
        }
      }
    }
  }

  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    > .current > a {
      &,
      &:hover,
      &:focus {

      }
    }
  }

  .dropdown {
    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $gray-100;

        &:hover,
        &:focus {
          background-color: $gray-100;
        }
      }
    }

    &.open {
      .dropdown-menu {
        //display: block;
        //display: flex;
        //top: 100%;
        opacity: 1;
        //height: 70%;
        height: 550px;
        z-index: 1000;
      }
    }
    .dropdown-menu {
      position: fixed;
      display: flex;
      height: 0;
      width: 100%;
      border: 0;
      align-items: center;
      justify-content: center;
      //box-shadow: 0 7px 20px 0 #00000026;
      box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
      overflow: hidden;
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.76, 0, 0.24, 1), height 400ms cubic-bezier(0.76, 0, 0.24, 1);
      border-radius: 0;
      .parent-link {
        width: 350px;
        margin-right: 50px;
        &--img {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
        }
      }
      .dropdown-items {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: 100%;
        max-width: 600px;
        li {
          flex: 0 33.33333%;
          padding: 0 15px;
          margin-bottom: 30px;
        }
      }
      .dropdown-item {
        position: relative;
        background-color: transparent;
        //overflow: hidden;
        clear: none;
        white-space: normal;
        padding: 0;
        border: 1px solid hsla(0,0%,100%,0.1);
        &--title {
          max-width: 150px;
          white-space: break-spaces;
          margin: auto;
          line-height: 0;
          padding-top: 15px;
        }
        &--icon {
          width: 100%;
          max-width: 50px;
          margin: auto;
          filter: grayscale(1);
          transition: filter 300ms cubic-bezier(0.76, 0, 0.24, 1);
        }
        &--menu-content {
          line-height: 16px;
          margin-top: 8px;
        }
        .nav-bg-img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center;
          transform: scale(1.1);
          opacity: 0;
          z-index: -1;
          transition: opacity 400ms cubic-bezier(0.76, 0, 0.24, 1), transform 400ms cubic-bezier(0.76, 0, 0.24, 1);
        }
        &:hover {
          background: transparent !important;
          color: $brand-color;
          .dropdown-item--icon {
            filter: grayscale(0);
          }
          .nav-bg-img {
            transform: scale(1.2);
            opacity: 0.4;
          }
        }
      }
    }
  }

  // All sub-navigation menus
  .dropdown-menu {
    border-width: 0;
    margin-top: 0;
  }

  //.dropdown-item {
  //  // All sub-navigation menu items
  //  color: $navbar-light-color;
  //
  //  &:hover,
  //  &:focus {
  //    color: $navbar-light-hover-color;
  //    text-decoration: none;
  //  }
  //
  //  &:active {
  //    background-color: $gray-100;
  //  }
  //}

  .active {
    // Active (currently selected) sub-navigation menu items
    //.dropdown-item {
    //  background-color: $gray-100;
    //  color: $navbar-light-hover-color;
    //}
  }
}

.scroll-up {
  .main-nav {
    &.header-dark {
      .navbar-nav {
        .nav-link {
          color: $white;
          &:hover {
            color: $brand-color;
          }
        }
      }
    }
  }
}

.navbar-touch-caret {
  z-index: 100;
  position: absolute;
  font-size: 20px;
  top: 7px;
  right: 0;
  border: 0;
  color: #fff;
  //padding: $navbar-padding-y $navbar-padding-x $navbar-padding-y 8px;
  transition: right 200ms linear;
  @media only screen and (max-width: 991px) {
    top: 21px;
  }
  &:hover {
    right: 0;
  }
}

.navbar-form {
  margin-bottom: 0;
}

.navbar-collapse {
  border-top: 0;
  display: block !important;
  align-items: center;
  justify-content: center;
}

// Medium and up viewports
@include media-breakpoint-up(md) {
  .main-nav {
    .dropdown {
      // Make room for the caret to be displayed
      //padding-right: $navbar-padding-x * 1.75;
    }

    .dropdown-menu {
      border-width: 1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-item {
      a {
        color: $navbar-light-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
    .nav-item {
      &:last-child {
        .nav-link {
          //padding-right: 0;
        }
      }
    }
    .navbar-expand-md {
      .nav-link {
        //padding: $navbar-padding-x;
        padding: 3.5rem 2rem;
      }
    }
    .navbar {
      //border-bottom: 1px solid $navbar-light-toggler-border-color;
    }
  }

  .navbar-touch-caret {
    outline: none;
    box-shadow: none !important;
    //padding: $navbar-padding-x;
    border-radius: 0;
  }
}
