// Main navigation (note: mobile first, responsive breakpoints for medium viewports and above are lower down)
.main-nav {
  .navbar {
    min-height: 0;
    border: 0;
    display: block;
    padding: 0;
  }

  .nav-link {
    font-size: 18px;
    letter-spacing: 1px;
    color: #979797;
    padding: $navbar-padding-y $navbar-padding-x;
    &.section {
      color: #fff;
    }
  }

  .navbar-nav {
    .nav-item {
      margin: auto 7px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        .nav-link,
        .btn-link{
          color: #fff;
        }
      }
      &.section {
        .btn-link {
          color: #fff;
        }
      }
      &.hover-active {
        .nav-link,
        .btn-link{
          color: #fff !important;
        }
      }
      &.hover-inactive {
        .nav-link,
        .btn-link{
          color: #979797 !important;
        }
      }
    }
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    > .current > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  .dropdown {
    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
       color: #fff;

        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }

    &.open {
      .dropdown-menu {
        display: block;
      }
    }
  }

  // All sub-navigation menus
  .dropdown-menu {
    background-color: transparent;
    padding: 0;
    border-width: 0;
    margin-top: 0;
    .active {
      .dropdown-item {
        color: #000;
        background-color: #fff;
      }
    }
  }

  .dropdown-item {
    letter-spacing: 1px;
    padding: 16px 20px;
    color: #fff;
    background-color: #000;
    @include transition;
    // All sub-navigation menu items
    &:hover,
    &:focus {
      background-color: #fff;
      color: #000;
      text-decoration: none;
    }
  }

  .active {
    // Active (currently selected) sub-navigation menu items
    .dropdown-item {
      color: #fff;
      background-color: #000;
      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }
}

.navbar-touch-caret {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  color: $navbar-light-color;
  padding: $navbar-padding-y $navbar-padding-x $navbar-padding-y 8px;
}

.navbar-form {
  margin-bottom: 0;
}

.navbar-collapse {
  border-top: 0;
}

// Medium and up viewports
@include media-breakpoint-up(md) {
  .main-nav {
    .dropdown {
      // Make room for the caret to be displayed
      padding-right: $navbar-padding-x * 1.25;
    }

    .dropdown-menu {
      border-width: 1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-item {
      a {
        color: $navbar-light-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .nav-link {
      padding: $navbar-padding-x;
    }

    .navbar {
      border-bottom: 1px solid $navbar-light-toggler-border-color;
    }
  }

  .navbar-touch-caret {
    padding: $navbar-padding-x;
    border-radius: 0;
  }
}
