.category--filter,
.resources-filters--item {
  .select2-container {
    width: 100% !important;
    .select2-selection {
      &--multiple {
        padding: 14px 10px;
        border: 2px solid #fff;//$gray-100;//$brand-primary;
        border-radius: 0;
      }
      &__choice {
        font-family: $font-family-poppins;
        font-size: 15px;
        color: #fff;
        padding: 3px 15px 3px 8px;
        border-radius: 50px;
        border: 0;
        background-color: $brand-color;
        background-image: $theme-gradient;
        &__remove {
          color: #fff;
          margin-right: 4px;
        }
      }
    }
  }
}
.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  .select2-results__option {
    font-family: $font-family-poppins;
    padding: 15px 20px;
    &--highlighted[aria-selected] {
      background-color: $brand-color;
      background-image: $theme-gradient;
    }
  }
}

