/** ----------------------------------------------------------
 *
 * Contains the custom style of the page.
 * Acts as the main stylesheet for theme.
 *
 *		Include your notes or table of contents below....
 *		Include color hex's or values of your grid
 *
 *		1. Header
 *      - Site Header
 *		2. Sections
 *		  - Image Banner
 *		  - Image with Text
 *    3. Global Settings
 *		4. Footer
 *
 * @author Institute of Innovation + Improvement
 * ------------------------------------------------------- */


/*
=========================
 Header
=========================
*/

/*=== SiteHeader ===*/
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  .site-header {
    .brand-logo {
      width: 100%;
    }
  }
}

/*
=========================
 Sections
=========================
*/

.page-section {
  //Global
  .section-content {
    position: relative;
  }

  /*=== Image Banner ===*/
  &.section-ImageBanner {
    .section-content {
      overflow: hidden;
      .image-banner {
        &--image {
          background-size: cover;
          background-position: center 100%;
          background-repeat: no-repeat;
        }
        &--text {
          position: absolute;
          max-width: 800px;
          top: 50%;
          margin: 0;
          &.cp-left {
            transform: translate3d(0, -50%, 0);
            @media only screen and (min-width: 768px) {
              left: 100px;
            }
            @media only screen and (max-width: 767px) {
              left: 30px;
            }
          }
          &.cp-center {
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          &.cp-right {
            @media only screen and (min-width: 768px) {
              right: 100px;
            }
            @media only screen and (max-width: 767px) {
              right: 30px;
            }
            transform: translate3d(0, -50%, 0);
          }
        }
      }
    }
    //Banner Height
    .bh-small {
      height: 40vh
    }
    .bh-medium {
      height: 80vh;
    }
    .bh-large {
      height: 100vh;
    }
  }

  /*=== Image with Text ===*/
  &.section-Imagewithtext {
    .section-content {
      .image-text--image {
        img {
          width: 100%;
        }
      }
      .image-text--text {

      }
    }
    &.skew {
      .image-text--image
      {
        //animation: animateSkew 2s;
        img {
        }
      }
    }
    //&.skew {
    //  .image-text--image {
    //    img {
    //      animation: animateSkew 1.5s;
    //    }
    //  }
    //}
  }

  /*=== Masonry Content ===*/
  &.section-MasonryContent {
    .grid {
      .masonry-item {
        &--text {

        }
        &--image {
          img {
            object-fit: cover;
            width: 100%;
            &.i-small {
              height: 40vh;
            }
            &.i-medium {
              height: 75vh;
            }
            &.i-large {
              height: 100vh;
            }
          }
        }
      }
    }
  }
}

@keyframes animateSkew {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

    //transform: skew(0deg, -10deg)
  }
  50% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    background: pink;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    //transform: skew(0deg, 0deg)
  }
}

/*
=========================
 Global Settings
=========================
*/

/*=== Mouse Scroll Icon ===*/
.mouseScroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate3d(-50%, 0,0);
  &--icon {
    position: relative;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 25px;
    &:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 6px;
      height: 6px;
      background: #fff;
      top: 8px;
      border-radius: 4px;
      animation: scroll 1.5s infinite;
      transform: translate3d(-50%, 0,0);
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%, 20px,0);
  }
}


/*
=========================
 Global Settings
=========================
*/

//Body
body {
  transition: background 1s ease;
}

//Animations
.wow {
  visibility: hidden;
}

//Containers
.container-small {
  max-width: 575px;
  margin: auto;
}
