/** ----------------------------------------------------------
 *
 * Contains the custom style of the page.
 * Acts as the main stylesheet for theme.
 *
 *		Include your notes or table of contents below....
 *		Include color hex's or values of your grid
 *
 *		1. Header
 *		2. Body
 *      - Sections
 *		3. Forms
 *    4. Fields
 *    5. Global Settings
 *		6. Footer
 *      - Pre-footer
 *      - Post-footer
 *
 * @author Institute of Innovation + Improvement
 * ------------------------------------------------------- */

/**
  Header
*/
header {
  @media only screen and (min-width: 992px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  @media only screen and (max-width: 991px) and (min-width: 576px) {
    margin-top: 70px;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 575px) {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .site-header {
    .site-header-brand {
      .site-logo {
        position: relative;
        max-width: 300px;
        width: 300px;
        z-index: 2;
        @media only screen and (min-width: 576px) {
          height: 141px;
        }
        @media only screen and (max-width: 575px) {
          height: 110px;
          left: -60px;
        }
      }
    }
  }
}


/**
  Body
*/
body {
  &.page-background {
    @media only screen and (min-width: 577px) {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed !important;
    }
  }
  &.dark-theme {
    color: $white !important;
  }
}

//Main
#main.main {
  min-height: 100vh;
}

//Sections
.page-section {
  position: relative;
  .section-wrapper {
    @media only screen and (min-width: 992px) {
      padding: 15vh 100px;
    }
    @media only screen and (max-width: 991px) and (min-width: 576px) {
      padding: 12vh 50px;
    }
    @media only screen and (max-width: 575px) {
      padding: 8vh 20px;
    }
    .section-inner {
      width: 100%;
    }
  }
  &:first-child {
    .section-wrapper {
      @media only screen and (min-width: 576px) {
        padding-bottom: 50px;
      }
      @media only screen and (max-width: 575px) {
        padding-bottom: 10px;
      }
    }
  }
  //Accordion Section
  &.AccordionSection {

  }
  //Category Section
  &.CategorySection {
    .category-item {
      &:nth-child(odd) {
        .category-item__content {
          @media only screen and (min-width: 992px) {
            padding-right: 50px;
          }
        }
      }
      &:nth-child(even) {
        .category-item__content {
          @media only screen and (min-width: 992px) {
            padding-left: 50px;
          }
        }
      }
      &:not(:nth-last-of-type(-n+2)) {
        .category-item__content {
          @media only screen and (min-width: 992px) {
            margin-bottom: 200px;
          }
          @media only screen and (max-width: 991px) {
            margin-bottom: 80px;
          }
        }
      }
    }
  }
  //Finalist Section
  &.FinalistsSection {

  }
  //Gallery Section
  &.GallerySection {
    .grid {
      .flexmasonry-item {
        padding: 10px;
      }
    }
  }
  //Judges Section
  &.JudgesSection {
    .judge-details {
      margin-top: 40px;
      text-align: center;
      .judge-image {
        background-size: cover;
        width: 100%;
        max-width: 280px;
        height: 280px;
        margin: auto auto 20px auto;
        border-radius: 50%;
        img {
          visibility: hidden;
        }
      }
      .show-hide--btn {
        font-size: 13px;
        color: #fff;
        margin-top: 14px;
        padding: 4px 12px;
        border: 1px solid;
        border-radius: 20px;
        background-color: transparent;
        @include transition();
        &:hover,
        &.active {
          background-color: #fff;
          color: #000;
        }
      }
      .judge-blurb {
        display: none;
        margin-top: 20px;
        p {
          font-size: 15px;
        }
      }
    }
  }

  //Winners Section
}


/**
  Forms
*/



/**
  Fields
*/


/**
  Global Settings
*/

//WOW
.wow {
  visibility: hidden;
}

//Accordion
.accordion-btn {
  position: relative;
  color: #fff;
  width: 100%;
  min-width: 350px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  border: 0;
  border-top: 1px solid;
  outline: none !important;
  @media only screen and (min-width: 576px) {
    padding: 40px 30px;
  }
  @media only screen and (max-width: 575px) {
    padding: 40px 10px;
  }
  i {
    position: absolute;
    right: 32px;
    top: 40%;
  }
  &.active {
    i {
      transform: rotate(180deg);
    }
  }
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &--content {
    @media only screen and (min-width: 576px) {
      padding: 0 30px 40px 30px;
    }
    @media only screen and (max-width: 575px) {
      padding: 0 10px 20px 10px;
    }
  }
  &.active {
    max-height: 100%;
  }
}

//Typography
a {
  @include transition();
}

.theme-button {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  @include transition();
  &:hover {
    color: #000;
    background-color: #fff;
    a {
      color: #000 !important;
    }
  }
}
.display-4 {
  @media only screen and (max-width: 575px) {
    font-size: 2.5rem;
  }
}

.display-5 {
  @media only screen and (max-width: 575px) {
    font-size: 2rem;
  }
}

.h1,h1 {
  @media only screen and (max-width: 575px) {
    font-size: 2rem;
  }
}
.h2,h2 {
  @media only screen and (max-width: 575px) {
    font-size: 1.6rem;
  }
}
.h3,h3 {
  @media only screen and (max-width: 575px) {
    font-size: 1.4rem;
  }
}
.h4,h4 {
  @media only screen and (max-width: 575px) {
    font-size: 1.2rem;
  }
}
.h5,h5 {
  @media only screen and (max-width: 575px) {
    font-size: 1rem;
  }
}
.h6,h6 {

}
//Layout
.large-height {
  @media only screen and (min-width: 576px) {
    min-height: 100vh;
  }
  @media only screen and (max-width: 575px) {
    min-height: 60vh;
  }
}

.medium-height {
  @media only screen and (min-width: 576px) {
    min-height: 85vh;
  }
  @media only screen and (max-width: 575px) {
    min-height: 50vh;
  }
}

.small-height {
  @media only screen and (min-width: 576px) {
    min-height: 50vh;
  }
  @media only screen and (max-width: 575px) {
    min-height: 30vh;
  }
}
