//Eksell Display
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Stencil.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Small.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplayWeb-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplayWeb-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Small.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Small.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Small.otf") format("opentype");
  font-weight: bold;
}
