//Clan Font
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Thin.otf") format("opentype");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Book.otf") format("opentype");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-News.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Medium.otf") format("opentype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Black.otf") format("opentype");
  font-display: swap;
  font-weight: 800;
}
@font-face {
  font-family: "FF Clan";
  src: url("../fonts/FF-Clan-OT-Ultra.otf") format("opentype");
  font-display: swap;
  font-weight: 900;
}
