//Clan Font
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Thin.ttf") format("truetype");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
}
